.CalculatorButtonWrapper {
  width: 72px;
  height: 72px;
  padding: 4px;
}

.CalculatorButton {
  width: 100%;
  height: 100%;
  cursor: pointer;
  font-size: 32px;
  border: none;
  border-radius: 200px;
  transition: 0.2s;
}

/* NUMBER */
.CalculatorButton__number {
  color: #FFFFFF;
  background-color: #333333;
}
.CalculatorButton__number:active {
  background-color: #A5A5A5;
}

/* SINGLE_ARG_ACTION & GLOBAL_ACTION */
.CalculatorButton__single_arg_action .CalculatorButton__global_action {
  color: #000000;
  background-color: #A5A5A5;
}
.CalculatorButton__single_arg_action:active, .CalculatorButton__global_action:active {
  background-color: #CCCCCC;
}

/* DOUBLE_ARG_ACTION */
.CalculatorButton__double_arg_action {
  color: #FFFFFF;
  background-color: #F29838;
}
.CalculatorButton__double_arg_action:active {
  background-color: #f7bd80;
}